<html>
    <head> 
    </head>
    <body>
        <h1>Login</h1>
        <form action="/connect/" method="post">
            {% csrf_token %}
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Submit">
        </form>
        <div><a href="{% url 'home'%}">Homepage</a></div>
        <div><a href="{% url 'show_sign'%}">Pas de compte ?</a></div>
    </body>
</html>