<html>
    <head>
        <title>Espace perso</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <script src="{% static 'scripts.js' %}"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        
    </head>
    <body>
    <nav class="nav_black">
        <a href="{% url 'home' %}" class="a_nav_black">
            <div class="nav_police_black">
            HOME
            </div>
        </a>
        <a href="{% url 'liste_project' %}" class="a_nav_black">
            <div class="nav_police_black">
            Project
            </div>
        </a>
        </nav>

        <h1>Bonjour </h1>



    </body>
</html>